<div *ngIf="song">
    <h3>{{ song.name | uppercase }} details:</h3>
    <div>
      <img src="{{ song.image }}"/>
    </div>
    <div>
      <span>Artist: </span>{{ song.artist }}
    </div> 
    <div>
      <label>Track name:
        <input [(ngModel)]="song.name" placeholder="name">
      </label>
    </div>
    <div>
      <span>Album name: </span>{{ song.album }}
    </div>
    <div>
      <a href="{{ song.url }}">{{ song.name }} last.fm details</a>
    </div>
    <div *ngIf="song.published">
      <span>published: </span>{{ song.published }}
    </div>   
    <div>
      <button (click)="goBack()">go back</button>
      <button (click)="save()">save</button>
    </div>
</div>