<div style="text-align:center">
  <h1>{{ title }}</h1>
  <img width="200" alt="Revv52 Logo" src="/assets/revv52-logo.jpg">
</div>

<div>
  <div>
    ...
  </div>
<h2>Here are some upcoming and previous concerts: </h2>
<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="http://revv52.com/event/revv52-spring-show-live-at-the-bella-concert-hall">DayTripper</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://tickets.mru.ca/eventperformances.asp?evt=146">EarCandy</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://calgaryartsdevelopment.com/hot_tickets/vinyl-spin/">Vinyl Spin</a></h3>
  </li>
</ul>
<div>
  <!-- <songs></songs> -->
<div style="text-align:center">
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/songs">Songs from the upcoming show:</a>
  </nav>
</div>
  <router-outlet></router-outlet>
  <messages></messages>
</div>

