<div style="text-align:center">
  <h1>{{ title }}</h1>
  <img width="200" alt="Revv52 Logo" src="/assets/revv52-logo.jpg">
</div>
<h2>Here are some upcoming and previous concerts: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://revv52.com/event/revv52-spring-show-live-at-the-bella-concert-hall">DayTripper</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://tickets.mru.ca/eventperformances.asp?evt=146">EarCandy</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://calgaryartsdevelopment.com/hot_tickets/vinyl-spin/">Vinyl Spin</a></h2>
  </li>
</ul>

